button {
    color:purple;
}
.form td{
    border:1px solid bisque;
    background-color: purple;
}
h1{
    color:bisque;
}
/* form{
    height: 56vh;
} */
@media screen and (max-width:600px){
    form{
        height: 74vh;
        
    } 
   
}
.but{
    align-self:center;
}
.form tr{
    height: 60px ;
    box-shadow: 4px 8px 4px 8px solid red;
}
.form td{
    height: 60px;
    width: 50px;
   
}
.form input{
    height: 60px;
    width: 200px;
}
.form textarea{
    height: 60px;
    width: 200px;
}