#education{
  margin-top: 50px;
  color:white;
  margin-bottom: 50px;
}
/*  */
  /* #primary:hover {
    transform: perspective(800px) rotateX(10deg) rotateY(10deg);
  } */
#highschool{
  height: 30px;
  width: 35%;
  padding:15px;
  margin-left: 15px;
  background:#bbb;
  color:black;
  border: 2px solid teal;
  transition: transform 0.5s; 
  }

  /* #highschool:hover {
    transform: perspective(800px) rotateX(10deg) rotateY(10deg);
  } */
  #puc{
      height: 300px;
      width: 35%;
      padding:15px;
      margin-left: 15px;
      background:#bbb;
      color: black;
      border: 2px solid teal;
      transition: transform 0.5s; 
      }
  
      /* #puc:hover {
        transform: perspective(800px) rotateX(10deg) rotateY(10deg);
      } */

.pd h3{
text-align: center;
color: teal;
margin-bottom: 40px;
margin-top: 20px;
}
#education h2{
  text-align:center;
  color:teal;
}

#education p{
  text-align: center;
}
@media(max-width:600px){
.pd{
  padding: 10px;
  display:flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
#primary{
height: 300px;
width:70%;
margin-bottom: 15px;
padding: 15px;

}
#highschool{
height: 300px;
width:70%;
margin-bottom: 15px;
padding: 15px;
}
#puc{
height: 300px;
width:70%;
margin-bottom: 15px;
padding: 15px;}}

@media(max-width:500px){


h2{
  color:bisque;
  font-size: 100;
}
.container2{

  height: 50px;
  width: 50px;
}
}