.gif img{
    width:2%;
    height:2%;
    align-items:center;
    justify-content: center;
    text-align: center;
    left:0%;
}
.gif{
    align-items:center;
    justify-content: center;
    text-align: center;
}