h2{
    color:bisque;
}
.border td{
    background-color: #36454f;
    border-collapse: collapse;
}
.border   {
    border-collapse: collapse;
    /* height: 400px; */
}
td{
    color:bisque;
}
@media(max-width:500px){
    /* .border{
        height: 600px;
        
    } */
}