h2{
    color:bisque;
}
.border td{
    background-color: #36454f;
    border-collapse: collapse;
}
.border  tr {
    border-collapse: collapse;
    height: 50px;
    width:20px;
}
td{
    color:bisque;

}
@media(max-width:500px){
     .border{
        height: 600px;
        
    } 
 }
.him{
    height: 700px;
} 